.body {
  -fx-background-image: url(../images/Orange.jpg);
  -fx-background-size: contain;
  -fx-background-position: left;
  -fx-background-repeat: no-repeat;
  -fx-background-size: 50.0% 100.0%;
  -fx-font-family: "Segoe UI Light";
}

.label {
	  -fx-text-fill: #ff6700;
  -fx-font-size: 20.0px;
}

#signInLbl {
  -fx-text-fill: #ff6700;
  -fx-font-size: 35.0px;
}
#WelcomeLbl {
	-fx-font-family: 'Comic Sans MS';
	-fx-text-fill: #403939;
	-fx-font-size: 25.0px;
}
#imageView {
  -fx-translate-x: 10.0px;
  -fx-translate-y: 25.0px;
}

.text-field {
	-fx-font-family: "Segoe UI";
	-fx-font-size: 15.0px;
	-fx-background-radius: 15.0px;
}
.text-field:hover {
	    -fx-effect: dropshadow(three-pass-box, rgba(255.0, 153.0, 102.0, 0.5), 8.0, 0.0, 0.0, 0.0);
}
.text-field:focused {
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #faf0e6;
}

.button {
  -fx-background-color: #ff6700;
  -fx-background-radius: 15.0px;
  -fx-border-width: 0.0px;
  -fx-font-size: 18.0px;
}
.button:hover {
  -fx-background-color: #ff9f00;
}

.button:pressed {
  -fx-background-color: #c4aead;
}
