.body{ 
 -fx-background-image: url(../images/Currency.jpeg);
 -fx-background-size: contain;
 -fx-background-position: left;
 -fx-background-repeat: no-repeat;
 -fx-background-size: 50.0% 100.0%;
 -fx-font-family: "Segoe UI Light";
}

.text-field {
	-fx-font-family: "Segoe UI";
	-fx-font-size: 15.0px;
	-fx-background-radius: 15.0px;
}
.text-field:hover {
	    -fx-effect: dropshadow(three-pass-box, rgba(255.0, 153.0, 102.0, 0.5), 8.0, 0.0, 0.0, 0.0);
}
.text-field:focused {
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #faf0e6;
}

.label {
	-fx-font-size: 15.0px;
	-fx-text-fill: #ff6700;
	-fx-translate-y: 10.0px;
}
#currencyLabel {
	-fx-font-size: 35.0px;
	-fx-text-fill: #ff7700;
}
#toLabel {
	-fx-translate-x: -12.0px;
}


.button {
	-fx-background-color: #ff6700;
	-fx-background-radius: 10.0px;
	-fx-border-width: 0.0px;
	-fx-font-size: 20.0px;
}
.button:hover {
	 -fx-background-color: #ff9f00;
}

.button:pressed {
	 -fx-background-color: #c4aead;
}
.combo-box:focused {
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #faf0e6;
}
.image-view {
	-fx-translate-y: 10.0px;
	-fx-translate-x: 15.0px;
}

#currCode {
	-fx-translate-y: -3.0px;
}
