.body{ 
 -fx-background-image: url(../images/Plane.jpg);
 -fx-background-size: contain;
 -fx-background-position: left;
 -fx-background-repeat: no-repeat;
 -fx-background-size: 100.0% 100.0%;
}

.split-pane {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.label {
	-fx-text-fill: #ff6700;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}



.button {
	-fx-background-color: #ff6700;
	-fx-background-radius: 10.0px;
	-fx-border-width: 0.0px;
	-fx-font-size: 14.0px;
}

.button:hover {
	 -fx-background-color: #ff9f00;
}

.button:pressed {
	 -fx-background-color: #c4aead;
}